<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput ngModel name="email" type="email" placeholder="Email ID" #email="ngModel" required email>
      <mat-error *ngIf="email.invalid">Enter Valid Email Address*</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" ngModel type="password" placeholder="Password" #password="ngModel" required>
      <mat-error *ngIf="password.invalid">Please Enter Valid Password*</mat-error>
    </mat-form-field>
    <button id="submit" mat-raised-button color="accent" type="submit">Login</button>
  </form>
</mat-card>
